.App {
  background-color: #1e2d3b;

  width: 100vw;
  height: 100vh;
}

.cssContainerSub {
  display: flex;
  flex-direction: column;

  color: #fff;

}

.cssContainerSub img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}


.cssContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}