html {
  background-color: #1e2d3b;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  background-color: #1e2d3b;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.cssContainerSub {
  display: flex;
  flex-direction: column;
  color: white;
  cursor: pointer;
  padding: 15px;
  box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.1),
    2px 2px 6px 0 rgba(0, 0, 0, 0.8);
}

.cssContainerSub img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  background-color: #1e2d3b;
}

.cssContainer h2 {
  text-align: center;
  color: #fff;
  margin: auto 0;
}

.grapicContainer {
  box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.1),
    2px 2px 6px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.buttonContainer {
  box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.1),
    2px 2px 6px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 25px;

}

.navBarContainer {
  box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.1),
    2px 2px 6px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.effectContainer {
  box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.1),
    2px 2px 6px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}