.ButtonHoverAniContainer {
	height: 150px;
}

.ButtonHoverAniContainer .btn {
	color: #fff;
	background: none;
	border: none;
	padding: 12px 18px;
	position: relative;
}

.ButtonHoverAniContainer .btn::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(calc(100% + 4px));
	width: 45px;
	height: 45px;
	background-color: red;
	border-radius: 50px;
	transition: transform .25s .25s cubic-bezier((0, 0, .5, 2));
	z-index: -1;
}

.ButtonHoverAniContainer .btn:hover::before {
	width: 100%;
	transform: translateY(-50%) translateX(-18px);
	transition: transform .25s cubic-bezier(0, 0, .5, 2),
		width .25s .25s cubic-bezier(0, 0, .5, 2);
}

.ButtonHoverAniContainer .btn i {
	margin-left: 5px;
	transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}

.ButtonHoverAniContainer .btn:hover i {
	transform: translateX(5px);
}