.ButtonSkewbutton {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	outline: 2px solid #fff;
	padding: 30px 60px;
	position: relative;
	overflow: hidden;
	background-color: none;
	transition: color 1s, background-color 1s;
}

.ButtonSkewbutton:hover {
	color: #833ab4;
	background-color: #fff;
}

/* .ButtonSkewbutton::before {
	content: '';
	position: absolute;
	top: 0;
	left: -50px;
	width: 0;
	height: 100%;
	background-color: #fff;
	transform: skewX(35deg);
	z-index: -1;
	transition: width 1s;
}

.ButtonSkewbutton::before:hover {
	width: 150%;
} */